<div class="tabContentWrapper">
    <mat-card *ngFor="let list of quesDataIndex; let index = index">
        <button mat-mini-fab color="warn" class="pull-right" (click)="deleteQues(list)">
            <i class="material-icons">delete</i>
        </button>
        <div (click)="openDialog(list)">
            <div class="preWrap">{{quesData[list].Question}}</div>
            <ol>
                <li *ngFor="let item of quesData[list].Options" class="preWrap">{{item}}</li>
            </ol>
        </div>
    </mat-card>
</div>
<app-loader [showLoader]="showLoader"></app-loader>