<div class="tabContentWrapper">
    <!-- Difficulty selector -->
    <div class="difficultyWrapper">
        <mat-form-field>
            <mat-label>Choose difficulty level</mat-label>
            <mat-select [(value)]="questionDifficulty">
                <mat-option *ngFor="let difficulty of difficultyOptions" [value]="difficulty">{{difficulty}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Technology selector -->
    <div class="difficultyWrapper">
        <mat-form-field>
            <mat-label>Choose the technology</mat-label>
            <mat-select [(value)]="selectedTech">
                <mat-option *ngFor="let tech of technologies" [value]="tech">{{tech}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form #form="ngForm">
        <!-- Question -->
        <mat-form-field>
            <mat-label>Enter the question here</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="question"></textarea>
        </mat-form-field>

        <!-- Options -->
        <div class="optionsWrapper alignCenter" *ngFor="let option of options;let index = index;trackBy:trackByIndex;">
            <mat-form-field>
                <mat-label>Option {{options[index]}}</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" [value]="options[index]"
                    [(ngModel)]="options[index]" name="name"></textarea>
            </mat-form-field>
            <button mat-mini-fab aria-label="icon-button with a add icon" class="addOption" (click)="addOption(index)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab aria-label="icon-button with a remove icon" class="removeOption"
                (click)="removeOption(index)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>

        <!-- Correct option selector -->
        <mat-card>
            <mat-form-field>
                <mat-label>Choose the correct option</mat-label>
                <mat-select [(value)]="selectedOption">
                    <mat-option *ngFor="let option of options; let index=index;trackBy: trackByIndex;"
                        [value]="options[index]">{{options[index]}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </form>
    <!-- Submit/Clear options -->
    <div class="width100 alignRight" style="justify-content: space-between;">
        <button mat-raised-button color="warn" (click)="onReset()">Reset Question</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit form</button>
    </div>
</div>