mat-form-field, mat-radio-group, mat-radio-button{
    width: 100%;
}

mat-card{
    margin-bottom: 15px;
}

.difficultyWrapper{
    width: 15rem;
    float: right;
}

.optionsWrapper{
    padding: 0 2rem;
}