mat-form-field, mat-radio-group, mat-radio-button{
    width: calc(100% - 2rem);
    padding: 0 1rem;
}

mat-card{
    margin-bottom: 15px;
}

.difficultyWrapper{
    width: 15rem;
    float: right;
}

.optionsWrapper{
    padding: 0 2rem;
    justify-content: space-evenly;
}

.addOption{
    color: white;
    background: green;
    margin: 0 0.5rem;
}
.removeOption{
    color: white;
    background: red;
    margin: 0 0.5rem;
}