.options{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
mat-card{
    margin-bottom: 1rem;
}
mat-radio-button{
    display: flex;
    flex-direction: column;
}
.testViewOptions{
    font-weight: normal;
    word-break: break-word;
    white-space: normal;
}
.questionWrap{
    margin-bottom: 1rem;
    word-break: break-word;
    white-space: pre-wrap;
}
.submitTestBtn{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
.testViewRadio{
    margin: 0 15px;
}