<div class="tabContentWrapper">
    <mat-card *ngFor="let quesObj of quesData; let index = index">
        <div class="questionWrap">{{quesObj.Question}}</div>
        <mat-radio-group class="options" [(ngModel)]="quesObj['userAns']">
            <div *ngFor="let option of quesObj['Options']; let i = index;" class="alignCenter">
                <mat-radio-button [value]="quesObj.Options[i]" style="line-break: break-word;"></mat-radio-button>
                <label>{{quesObj.Options[i]}}</label>
            </div>
        </mat-radio-group>
    </mat-card>
</div>
<button mat-raised-button color="primary" class="submitTestBtn" (click)="submitTest(quesData)">Submit Test</button>