.options{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
mat-card{
    margin-bottom: 1rem;
}
label{
    word-break: break-word;
    font-weight: normal;
}
.questionWrap{
    margin-bottom: 1rem;
}
.submitTestBtn{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}