/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* html, body { height: 100%; } */
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #fafafa;
}

html, body{
    width: 100%;
}


.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignLeft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.alignRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.width100{
    width: 100%;
}

.noMargin { 
    margin: 0;
}

.noPadding {
    padding: 0;
}

.mousePointer{
    cursor: pointer;
}

.tabContentWrapper{
    margin-top: 51px;
    padding: 1rem;
}