<div class="tabContentWrapper">
    <div class="alignCenter logoHolder">
        <img class="logo" src="../../assets/images/logo.png" alt="MuSigma Business Solutions Pvt. Ltd.">
    </div>
    
    <div class="alignCenter welcomeText">Welcomes You!</div>
    <div class="introText alignCenter">Please enter your details in the form below: </div>
    <form #form="ngForm" class="candDets">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="candName" [value]="candName"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose the technology</mat-label>
            <mat-select [(value)]="candTech">
                <mat-option *ngFor="let tech of techArray" [value]="tech">{{tech}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose the Experience Range</mat-label>
            <mat-select [(value)]="candExp">
                <mat-option *ngFor="let exp of expRange" [value]="exp">{{exp}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose the Notice Period</mat-label>
            <mat-select [(value)]="candNotice">
                <mat-option *ngFor="let np of noticeRange" [value]="np">{{np}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="alignCenter routerWrapper">
        <button mat-raised-button class="navButtons">
            <div class="alignCenter" (click)="goToMusigma()">
                <div class="noMargin">What we do</div>
                <i class="material-icons">contact_support</i>
            </div>
        </button>

        <button mat-raised-button class="navButtons">
            <div class="alignCenter" (click)="getUserDets()">
                <div class="noMargin">Start the test</div>
                <i class="material-icons">play_circle_filled</i>
            </div>
        </button>
    </div>
</div>