<div class="tabContentWrapper">
    <div class="alignCenter logoHolder">
        <img class="logo" src="../../assets/images/logo.png" alt="MuSigma Business Solutions Pvt. Ltd.">
    </div>
    
    <div class="alignCenter welcomeText">Welcomes You!</div>
    <div class="introText alignCenter">Please enter your details in the form below: </div>
    <form #form="ngForm" class="candDets">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="candName" [value]="candName"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Technology</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="candTech" [value]="candTech"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Years of Exp</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="candExp" [value]="candExp"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Notice Period</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                name="question" [(ngModel)]="candNotice" [value]="candNotice"></textarea>
        </mat-form-field>
    </form>

    <div class="alignCenter routerWrapper">
        <button mat-raised-button class="navButtons">
            <div class="alignCenter" (click)="goToMusigma()">
                <div class="noMargin">What we do</div>
                <i class="material-icons">contact_support</i>
            </div>
        </button>

        <button mat-raised-button class="navButtons">
            <div routerLink='/testview' class="alignCenter" (click)="getUserDets()">
                <div class="noMargin">Start the test</div>
                <i class="material-icons">play_circle_filled</i>
            </div>
        </button>
    </div>
</div>