.routerWrapper{
    justify-content: space-evenly;
    /* height: 30rem; */
}

.logoHolder{
    height: 35vh;
}

.logo{
    height: 100%;
}

.candDets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcomeText{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.introText{
    font-size: 1.7rem;
}

mat-form-field{
    width: 100%;
    max-width: 900px;
}
.navButtons {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

i{
    margin: 0 1rem;
    font-size: 3rem;
}

a{
    text-decoration: none;
}